extends ../layouts/common

block content

    if errors
        each error in errors
            .alert.alert-danger= error

    div.ml-5.mr-5
        h1.mt-5 Login

        form(method="POST")
            .form-group
                label(for='email') Email
                input#email.form-control(type='text', name="email", value= values ? values.email : '')
            .form-group
                label(for='password') Password
                input#password.form-control(type='password', name="password", value= values ? values.password : '')
            button.btn.btn-primary(type='submit') Login
