html
    head
        title Thanh Troy
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(href="/" class="navbar-brand") Thanh Troy
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")    
            
        div(class="collapse navbar-collapse" id="navbarNavDropdown")
            ul(class="navbar-nav ml-auto mt-2 mt-lg-0")
                li(class="nav-item")
                    a(class="nav-link" href="/") Home
                li(class="nav-item")
                    a(class="nav-link" href="/users") Users  
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Options
                    div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
                        a(class="dropdown-item" href="/users/remove") Remove
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    block content